<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.product.skysail/prototypr/dsl/Application"
			class = "skysail.product.prototypr.dsl.application.ApplicationPackage"
			genModel = "model/generated/Application.genmodel" />
	</extension>
</plugin>
