/.ApplicationIdeaModule.java._trace
/.ApplicationIdeaSetup.java._trace
/.ApplicationStandaloneSetupIdea.java._trace
/ApplicationIdeaModule.java
/ApplicationIdeaSetup.java
/ApplicationStandaloneSetupIdea.java
